/* ------------------------------------------ */
              /* BASIC SETUP */ 
/* ------------------------------------------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix {zoom: 1}
.clearfix:after {
    content:'.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ------------------------------------------ */
              /* REUSABLE COMPONENTS */
/* ------------------------------------------ */

section {
    padding: 60px;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-size: 20px;
    font-family: Lato, sans-serif;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.row {
    width: 1140px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4 {
    word-spacing: 2px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

h2 {
    text-align: center;
    font-size: 200%;
    margin-bottom: 30px;
}

h2:after,
h3:after {
    display: block;
    content: "";
    background-color: #e67e22;
    width: 100px;
    height: 2px;
    margin: 0 auto;
    margin-top: 20px;
}

.inline-link:link,
.inline-link:visited {
    color: #e67e22;
    text-decoration: none;
    transition: border-bottom 0.2s;
}

.inline-link:hover,
.inline-link:active {
    color: #555;
    border-bottom: 2px solid #e67e22;
    padding-bottom: 3px;
}

/* ------------------------------------------ */
              /* HEADER */
/* ------------------------------------------ */

header {
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}

.hero-text {
    position: absolute;
    color: #fff;
    font-size: 300%;
    font-style: italic;
    font-weight: 100;
    letter-spacing: 1px;
    word-spacing: 2px;  
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);    
}

cite { 
    float: right;
    font-weight: 100;
}

.logo {
    width: 70px;
    height: 70px;
    margin-top: 40px;
    margin-left: -10px;
    float: left;    
}

.logo-text {
    margin-top: 40px;
    display:inline-block;
    margin-left: 20px;
    font-size: 240%; 
    color: #fff;
    font-weight: 300;
}

.main-nav {
    float: right;
    list-style: none;   
    margin-top: 60px;
    letter-spacing: 1px;
}
    
.main-nav li {
    display: inline-block;
    margin-left: 20px;
    font-weight: 100;
}

.main-nav li a:link,
.main-nav li a:visited {
    color: #fff;
    text-decoration: none;
    font-size: 90%;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    color: rgb(93, 211, 247);
    border-bottom: 2px solid #e67e22;
    padding-bottom: 10px;  
}

.dropbtn {
  color:  #e67e22;
  padding: 10px 16px;
  font-size: 100%;
  border: 1px solid #e67e22;
  border-radius: 40px;
  margin-left: 20px;
  transition: all 0.4s;  
}

.dropdown {
  position: relative;
  display: inline-block; 
  transition: all 0.4s;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 20px;
  margin-left: 20px;
 transition: all 0.2s;  
}

.dropdown-content a {
  color: white;
  padding: 10px 14px;
  text-decoration: none;
  display: block;
  margin: 3px;
}

.dropdown-content a:hover { 
    border: 1px solid #e67e22;
    color: #e67e22;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.79);
}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn { 
    background-color: #e67e22;
    color: white;
}

/* ------------------------------------------ */
              /* FOOTER */ 
/* ------------------------------------------ */

footer {
    background-color: #333;
    padding: 50px;
    font-size: 80%;
}

footer p {
    color: #888;
    text-align:center;
    margin-top: 20px;
}

.footer-nav {
    list-style: none;
    float: left;   
}

.social-icons {
    list-style: none;
    float: right; 
    font-size: 160%;
}

.footer-nav li,
.social-icons li {
    border: 0px; 
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-icons li:last-child {
    margin-right: 0;
}

.footer-nav a:link,
.footer-nav a:visited, 
.social-icons a:link, 
.social-icons a:visited {
    color: #888;
    text-decoration: none;  
    transition: color 0.3s;
}

.footer-nav a:hover,
.footer-nav a:active {
    color: #ddd;
}

.ion-logo-facebook,
.ion-logo-twitter,
.ion-logo-googleplus,
.ion-logo-instagram {
    transition: color 0.3s;  
}

.ion-logo-facebook:hover,
.ion-logo-facebook:active{
    color:#0355f2;
}

.ion-logo-twitter:hover,
.ion-logo-twitter:active {
    color:#00a6d8;
}

.ion-logo-googleplus:hover,
.ion-logo-googleplus:active {
    color: red;
}

.ion-logo-instagram:hover,
.ion-loog-instagram:active {
    color:#0058a3;
}
    
